<!-- ========================  Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/gallery-2.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title"><%= @user.full_name %></h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a href="<%= vendors_path(category_id: @user.category_id) %>"><%= @user.category.title %> Vendors</a></li>
        <li><a class="active">Profile overview</a></li>
      </ol>
    </div>
  </header>
</section>

<!-- ========================  Product ======================== -->

<section class="product">
  <div class="main">
    <!--    <div class="container">-->
    <!--      <div class="row product-flex">-->
    <!--        <div class="col-md-4 col-sm-12 product-flex-info">-->
    <!--          <div class="clearfix">-->
    <!--            <h1 class="title" ><%#= @user.full_name %> </h1>-->
    <!--            <div class="clearfix">-->
    <!--              <hr />-->
    <!--              <div class="info-box">-->
    <!--                <span><strong>Manufacturer</strong></span>-->
    <!--                <span><%#= @user.full_name %></span>-->
    <!--              </div>-->
    <!--              <div class="info-box">-->
    <!--              </div>-->
    <!--              <div id="avg_rate">-->
    <!--              </div>-->
    <!--              <hr />-->
    <!--            </div> -->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>

  <div class="info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="designer">
            <div class="box">
              <div class="image">
                <% if @user.profile.image.attached? %>
                  <%= image_tag(url_for(@user.profile.image)) %>
                <% else %>
                  <img src="/assets/furnishia/user-1.jpg" alt="" height="250" />
                <% end %>
              </div>
              <div class="name">
                <div class="h3 title"><%= @user.full_name %><small><%= @user.category.title %></small></div>
                <script>
                    $(document).ready(function() {
                        $("#download-btn").click(function() {
                            $.ajax({
                                url: '/profiles/update_download_catalog_count.js?user_id=<%= @user.id %>',
                                method: 'get',
                            });
                        });
                    });
                </script>
                <% if @user.profile.pdf.attached? %>
                  <hr/>
                  <span>
                    <%= link_to "Download Catalogue", rails_blob_path(@user.profile.pdf, disposition: 'attachment'), :id=> 'download-btn' %>
                  </span>
                <% end %>
                <hr/>
                <p><a href="mailto:johndoe@mail.com"><i class="icon icon-envelope"></i> <%= @user.email %></a></p>
                <p><a href="tel:002255858"><i class="icon icon-phone-handset"></i> <%= @user.contact_details %></a></p>
                <p>
                  <a href="<%= @user.profile.facebook %>" class="btn btn-main btn-xs"><i class="fa fa-facebook"></i></a>
                  <a href="<%= @user.profile.instagram %>" class="btn btn-main btn-xs"><i class="fa fa-instagram"></i></a>
                  <a href="<%= @user.profile.twitter %>" class="btn btn-main btn-xs"><i class="fa fa-twitter"></i></a>
                </p>
              </div> <!--/name-->
            </div> <!--/box-->

          </div> <!--/designer-->
        </div> <!--/col-md-4-->
        <!-- === nav-tabs === -->
        <div class="col-md-8">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#design" aria-controls="design" role="tab" data-toggle="tab">
                <i class="icon icon-sort-alpha-asc"></i>
                <span>Description</span>
              </a>
            </li>
            <li role="presentation" >
              <a href="#designer" aria-controls="designer" role="tab" data-toggle="tab">
                <i class="icon icon-user"></i>
                <span>Collection</span>
              </a>
            </li>
          </ul>
          <!-- === tab-panes === -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane " id="designer">
              <div class="content">
                <!-- === designer collection title === -->
                <h3>Designers collection</h3>
                <div class="products custom-product-details-page custom-city-show">
                  <div class="row">
                    <!-- === product-item === -->
                    <% if @user.display_products? %>
                      <% @products.each_with_index do |product, index| %>
                        <% if product.visibility == true %>
                          <% if index == 6 %>
                            <% break %>
                          <% end %>
                          <div class="col-md-4 ">
                            <article class="custom-product-article">
                              <div class="figure-grid custom-product-card-img custom-card-container text-center">
                                <div class="image custom-product-card custom-figure-grid">
                                  <% if product.images.attached? %>
                                    <%= link_to product do%>
                                      <%= image_tag(url_for(product.images.first)) %><br>
                                    <% end %>
                                  <% else %>
                                    <%= link_to product do%>
                                      <img src="/assets/furnishia/no_image_product.jpg" alt=""  />
                                    <% end %>
                                  <% end %>
                                </div>
                                <div class="text">
                                  <%= link_to product do%>
                                    <h2 class="title h4"><%=product.print_description %></h2>
                                    <hr class="card-text-divider">
                                    <span> <%= product.user.category.title %></span>
                                  <% end %>
                                </div>
                                <a href="<%= product_path(product) %>" class="btn card-btn btn-main">View</a>
                              </div>
                            </article>
                          </div>
                        <% end %>
                      <% end %>
                    <% elsif @user.display_projects? %>
                      <% @projects.each_with_index do |project, index| %>
                        <% if index == 6 %>
                          <% break %>
                        <% end %>
                        <div class="col-md-4">
                          <article class="custom-product-article">
                            <div class="figure-grid custom-product-card-img custom-card-container text-center">
                              <div class="image custom-product-card custom-figure-grid">
                                <% if project.images.attached? %>
                                  <%= link_to project do%>
                                    <%= image_tag(url_for(project.images.first)) %><br>
                                  <% end %>
                                <% else %>
                                  <%= link_to project do%>
                                    <img src="/assets/furnishia/no_image_product.jpg" alt=""  />
                                  <% end %>
                                <% end %>
                              </div>
                              <div class="text">
                                <h4 class="title"><%= project.title %></h4>
                                <hr class="card-text-divider">
                                <span> <%= project.user.category.title %></span>
                              </div>
                              <a href="<%= project_path(project) %>" class="btn card-btn btn-main">View</a>
                            </div>
                          </article>
                        </div>
                      <% end %>
                    <% end %>
                  </div> <!--/row-->
                  <div class="row">
                    <div class="custom-view-all-btn">
                      <% if @user.display_products? && @products.any? %>
                        <a href="<%= products_path(user_id: @user.id)%>" class="btn btn-main">View All Products</a>
                      <% elsif @user.display_projects? && @projects.any?%>
                        <a href="<%= projects_path(user_id: @user.id)%>" class="btn btn-main">View All Projects</a>
                      <% end %>
                    </div>
                  </div>
                </div> <!--/products-->
              </div> <!--/content-->
            </div> <!--/tab-pane-->
            <!-- ============ tab #2 ============ -->

            <div role="tabpanel" class="tab-pane active" id="design">
              <div class="content">
                <div class="row">
                  <div class="col-md-8">
                    <h3>Detail Description</h3>
                    <p>
                      <%= simple_format(@user.profile.description) %>
                    </p>
                  </div>
                </div> <!--/row-->
              </div> <!--/content-->
            </div> <!--/tab-pane-->
            <!-- ============ tab #3 ============ -->
            <div role="tabpanel" class="tab-pane" id="rating">
              <!-- ============ ratings ============ -->
            </div> <!--/tab-pane-->
          </div> <!--/tab-content-->
        </div>
      </div> <!--/row-->
    </div> <!--/container-->
  </div> <!--/info-->
</section>


