  <style type="text/css">
    .custom-email-style{

      text-transform: lowercase !important;
      width: 180px;
         display: inline-flex;
    }

      .product-color{
 font-size: 15px;
    font-weight: 300;
  font-family: "Poppins", sans-serif;
  
}
.product-color-slecion{

color:red !important;
  font-size: 15px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.custom-confirmation-section-style .single_confirmation_details ul li{
  display: inline;
}
.date-style{

  text-transform: uppercase;
}
.custom-address-style{
width: 180px;
display: inline-flex;

}
  </style>


  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/confirmation-page-banner.png') %>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Order Confirmation</h2>
              <p>Home <span>-</span> Order Confirmation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <% random_number = (SecureRandom.random_number(9e4) + 1e4).to_i.to_s %>

  <!--================ confirmation part start =================-->
  <section class="confirmation_part padding_top custom-confirmation-section-style" style="padding-top: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
         <!--  <div style="font-size: 100px;text-align:center;color: #14BD14; width: 100px;  background-color: red;  display: flex;  display: table-cell; "><i class="fa fa-check" style=" text-align: center;"></i>
        </div> -->
          <div class="confirmation_tittle">
            <span>Thank you. Your order has been received.</span>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>order info</h4>
            <ul>
              <li>
                <p style="font-size: 19px;font-weight: 600;">Customer Pin</p><span style="font-size: 19px;color: red;font-weight: 600;"><%= @checkout.user_cart.otp_code.present? ? @checkout.user_cart.otp_code : random_number %></span>
              </li>
              <li>
                <p>order number</p><span> <%= @checkout.id.to_s + @checkout.created_at.strftime("%Y%M").to_s %></span>
              </li>
              <li>
                <p>Name</p><span><%= current_user.first_name + " " + current_user.last_name %></span>
              </li>
              <li>
                <p>Email</p><span class="custom-email-style"><%= current_user.email %></span>
              </li>
              <li>
                <p>Phone Number</p><span><%= current_user.contact_details %></span>
              </li>
              <li>
                <p>date</p><span class="date-style"><%= @checkout.created_at.strftime("%b %d, %Y %I:%M %P") %></span>
              </li>
              <li>
                <p>total</p><span style="color: red">R <%= @checkout.amount.to_i %></span>
              </li>
              <li>
                <p>Payment method</p><span>Payments</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Billing Address</h4>
            <ul>
              <li>
                <p>Address</p><span class="custom-address-style"><%= @billing_address.address %></span>
              </li>
              <li>
                <p>city</p><span class="custom-address-style"><%= @billing_address.city.present? ? @billing_address.city.title : "" %></span>
              </li>
              <li>
                <p>Province</p><span class="custom-address-style"><%= @billing_address.province.present? ? @billing_address.province.title : "" %></span>
              </li>
              <li>
                <p>postcode</p><span class="custom-address-style"><%= @billing_address.postal_code %></span>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Delivery Address</h4>
            <ul>
              <li>
                <p>Address</p><span class="custom-address-style"><%= @checkout.billing_address.address %></span>
              </li>
              <li>
                <p>city</p><span class="custom-address-style"><%= @checkout.billing_address.city.present? ? @checkout.billing_address.city.title : "" %></span>
              </li>
              <li>
                <p>Province</p><span class="custom-address-style"><%= @checkout.billing_address.province.present? ? @checkout.billing_address.province.title : "" %></span>
              </li>
              <li>
                <p>postcode</p><span class="custom-address-style"><%= @checkout.billing_address.postal_code %></span>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-lx-4">
          
          <div class="custom-pin-section">
            <h4 style="margin-left: 60px;font-size: 22px;color: #e9414f;margin-top: 40px;line-height: 2rem">YOUR PIN IS YOUR SECRET, only provide pin number to driver upon delivery.</h4>
          </div>

          <div class="custom-pin-section" style="text-align: center;margin-top: 20px;">
           <span style="font-size: 24px;font-weight: 500;color: red;">Customer Pin: </span>
           <span style="font-size: 28px; color: red;font-weight: 600;margin-left: 10px;"> <%= @checkout.user_cart.otp_code.present? ? @checkout.user_cart.otp_code : random_number %></span>
         </div>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Order Details</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <% @cart.each do |cart| %>
                <tr>
                  <th colspan="2"><span><%= cart.product.print_description %></span><br><span class="product-color">Your Color Selection: </span><span class="product-color-slecion"><%= cart.color.present? ? cart.color.title : "" %></span><br><span class="product-color">Assembly Type: </span><span class="product-color-slecion"><%= cart.product.present? && cart.product.assembly_type.present? ? cart.product.assembly_type.humanize.upcase : "" %></span></th>
                  <th>x<%= cart.quantity %></th>
                  <th> <span style="color: red">R <%= cart.sub_total.to_i %></span></th>
                </tr>
                <% end %>
                <tr>
                  <th colspan="3">Subtotal</th>
                  <th> <span style="color: red">R  <%= @initial_sum.to_i %></span></th>
                </tr>
                <tr>
                  <th colspan="3">Delivery Fee</th>
                  <th><span style="color: red">R  <%= @shipping_price.to_i %></span></th>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" colspan="3">Grand Total</th>
                  <th scope="col" style="color: red">R  <%= @sum.to_i %></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ confirmation part end =================-->

  <script type="text/javascript">
    // window.parent.location.replace("http://test.fairprice.co.za/");
    debugger
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
    window.onbeforeunload = function() { 
      debugger
      window.location.href = 'http://test.fairprice.co.za/';
      return;
      };
  </script>
