<div class="col-md-9">
    <div class="row">
        <% blogs.each do |blog| %>
        <div class="col-sm-6 col-xs-6 col-md-6">
            <article>
                <%= link_to blog do%>
                <div class="image custom-blg-img" >
                    <% if blog.image.attached? %>
                    <%= image_tag(url_for(blog.image)) %>
                    <% else %>
                    <img src="/assets/furnishia/product-1.png"  />
                    <% end %>
                </div>
                <div class="entry entry-table">
                    <div class="date-wrapper">
                        <div class="date">
                            <span><%= blog.updated_at.strftime('%b')%></span>
                            <strong><%= blog.updated_at.strftime('%d')%></strong>
                            <span><%= blog.updated_at.strftime('%Y')%></span>
                        </div>
                    </div>
                    <div class="title">
                        <h2 class="h5"><%= blog.title %></h2>
                    </div>
                </div>
                <% end %>
            </article>
        </div>
        <% end %>
    </div>
    <!-- === pagination === -->
    <div class="pagination-wrapper">
        <%= will_paginate @blogs %>
    </div> <!--/pagination-->
</div>