<style type="text/css">
.product-color{
 font-size: 15px;
    font-weight: 300;
  font-family: "Poppins", sans-serif;
  
}
.product-color-slecion{
  color:red !important;
  font-size: 15px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
</style>

<div bgcolor="#FFFFFF" style="margin: 0px; padding: 0px; font-family: Helvetica;" >
<div style="width: 650px; margin: 0 auto;"> 
  
  <!----Header-----
--------------->
  <div style="">
    <div style="">
      <div style="padding: 20px 10px;">
        <table style="background-color:#b7dee6;width: 100%">

          <h1 style="font-size: 18px; font-weight: 600;color: #3c3b3b;line-height: 1.5;margin: 20px auto;">Subject: Order Failure</h1>
          
          <div style="width: 300px;height: 60px;">
             <span style="float: left;">
               <img src="https://i.ibb.co/bvwkvPK/Logo.png" width="100%" height="auto%">
             </span>
          </div>
          
          <br>
          
          <h1 style="font-size: 16px; font-weight: 600;color: #3c3b3b">Dear Customer,</h1>
          
          <p style="font-size: 14px; line-height: 1.5">Yipee!! We’ve received your order. Get ready we’re coming!!</p>
          
          <p style="font-size: 14px; line-height: 1.5">Click on the blue link thingy below to track us.</p>
          
          <p style="font-size: 14px; line-height: 1.5"><a href="#">http://test.fairprice.co.za/tracking</a></p>
          
          <p style="font-size: 14px; line-height: 1.5">If you’re not winning drop us an email at <a href="#">onlineorders@fairprice.co.za</a>
          </p>

          <h1 style="font-size: 20px;text-decoration: underline; font-weight: 600;color: #3c3b3b;margin: 30px 0px 10px 0px">ORDER INFO</h1>
          
          <tr>
            <!-- <td><h3 style="font-size: 16px; font-weight: bold;color: #3c3b3b">Your Orders Details</h3></td> -->
          </tr>
          
          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Order Number <span style="font-weight: 700;font-size: 16px;"> : </span><span style="font-weight: 700;font-size: 16px;margin-left: 31px;"> </span> <%= @checkout.id.to_s + @checkout.created_at.strftime("%Y%M").to_s %> </p> </td>
          </tr>

            <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Customer Pin <span style="font-weight: 700;font-size: 16px;"> : </span><span style="font-weight: 700;font-size: 16px;margin-left: 36px;"></span>   <%= @checkout.user_cart.otp_code.present? ? @checkout.user_cart.otp_code : (SecureRandom.random_number(9e4) + 1e4).to_i.to_s %> </p> </td>
          </tr>
          
          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px ">Total <span style="font-weight: 700;font-size: 16px;"> : </span><span style="font-weight: 700;font-size: 16px;margin-left: 100px"> </span> <span style="color: red">R<%= @checkout.amount.to_i %></span> </p></td>
          </tr>
          
          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Date <span style="font-weight: 700;font-size: 16px;"> : </span> <span style="font-weight: 700;font-size: 16px;margin-left: 100px"> </span> <%= @checkout.created_at.strftime("%b %d, %Y %I:%M %P") %> </p></td>

          </tr>

          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Payment Method <span style="font-weight: 700;font-size: 16px;"> : </span><span style="font-weight: 700;font-size: 16px;margin-left: 13px"> </span> Payments </p></td>
          </tr>

        </table>

        <table style="background-color:#b7dee6;width: 100%;margin: 10px auto">
          
          <h1 style="font-size: 17px;text-decoration: underline;font-weight: 600;color: #3c3b3b;margin: 45px 0px 20px 0px">BILLING ADDRESS</h1>

          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Address <span style="font-weight: 700;font-size: 16px;"> : </span><span style="font-weight: 700;font-size: 16px;margin-left: 73px"> </span> <%= @billing_address.address %> </p></td>
          </tr>
          
          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px ">City <span style="font-weight: 700;font-size: 16px;"> : </span><span style="font-weight: 700;font-size: 16px;margin-left: 105px"> </span> <%= @billing_address.city.present? ? @billing_address.city.title : "" %> </p></td>
          </tr>
          
          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Province <span style="font-weight: 700;font-size: 16px;"> </span><span style="font-weight: 700;font-size: 16px;margin-left: 70px"> </span> <%= @billing_address.province.present? ? @billing_address.province.title : "" %> </p></td>
          </tr>

          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Postal Code <span style="font-weight: 700;font-size: 16px;"> : </span><span style="font-weight: 700;font-size: 16px;margin-left: 45px"> </span> <%= @billing_address.postal_code %> </p></td>
          </tr>


        </table>

        <table style="background-color:#b7dee6;width: 100%;margin: 10px auto ">
         
          <h1 style="font-size: 17px;text-decoration: underline; font-weight: 600;color: #3c3b3b;margin: 45px 0px 20px 0px">DELIVERY ADDRESS</h1>


          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Address <span style="font-weight: 700;font-size: 16px;">:</span> <span style="font-weight: 700;font-size: 16px;margin-left: 75px"> </span> <%= @checkout.billing_address.address %> </p></td>
          </tr>
          
          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px ">City <span style="font-weight: 700;font-size: 16px;"> : </span> <%= @checkout.billing_address.city.present? ? @checkout.billing_address.city.title : "" %> </p></td>
          </tr>
          
          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Province <span style="font-weight: 700;font-size: 16px;"> : </span><span style="font-weight: 700;font-size: 16px;margin-left: 71px"> </span> <%= @checkout.billing_address.province.present? ? @checkout.billing_address.province.title : "" %> </p></td>
          </tr>

          <tr>
            <td><p style="font-size: 16px;margin:10px 0px 5px 0px">Postal Code <span style="font-weight: 700;font-size: 16px;"> : </span><span style="font-weight: 700;font-size: 16px;margin-left:47px"> </span> <%= @checkout.billing_address.postal_code %> </p></td>
          </tr>

        </table>

           <table style="background-color:#b7dee6;width: 100%;margin: 10px auto;">
            <h1 style="font-size: 28px;text-decoration: underline;font-weight: 600;color: #3c3b3b;margin: 45px 0px 20px 0px">ORDER DETAILS</h1>
         

            <thead>
              <tr>
                <td><p style="font-size: 16px;font-weight: 600;margin:10px 0px 5px 0px"> Product  </p></td>
                <td><p style="font-size: 16px;font-weight: 600;margin:10px 0px 5px 0px "> Quantity</p></td>
                <td><p style="font-size: 16px;font-weight: 600;margin:10px 0px 5px 0px; text-align: -webkit-center; "> Total</p></td>
              </tr>
            </thead>
            <tbody>
              # <% @cart.each do |cart| %>
              # <tr>
              #   <th style="text-align: left;padding-left: 2%;"><span><%= cart.product.print_description %></span><br><span class="product-color">Your Color Selection: </span><span class="product-color-slecion" style="color: red;"><%= cart.color.present? ? cart.color.title : "" %></span></th>
              #   <th style="text-align: left;padding-left: 2%;">x<%= cart.quantity %></th>
              #   <th> <span style="color: red; text-align: left;">R<%= cart.sub_total.to_i %></span></th>
              # </tr>
              # <% end %>
              <tr>
                <th style="text-align: left;">Delivery Fee</th>
                <th></th>
                <th> <span style="color: red; text-align: left;">R<%= @shipping_price.to_i %></span></th>
              </tr>
              <tr>
                <th style="text-align: left;">Subtotal</th>
                <th></th>
                <th> <span style="color: red; text-align: left;">R<%= @sum.to_i %></span></th>
              </tr>
            </tbody>
        </table>
        
      </div>
    
    </div>
  </div>

</div>
</div>