<p id="notice"><%= notice %></p>

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Store city:</strong>
  <%= @store.store_city %>
</p>

<p>
  <strong>Store address:</strong>
  <%= @store.store_address %>
</p>

<p>
  <strong>Store city:</strong>
  <%= @store.store_city %>
</p>

<p>
  <strong>Store country:</strong>
  <%= @store.store_country %>
</p>

<p>
  <strong>Store state:</strong>
  <%= @store.store_state %>
</p>

<p>
  <strong>Store area:</strong>
  <%= @store.store_area %>
</p>

<p>
  <strong>Store map link:</strong>
  <%= @store.store_map_link %>
</p>

<p>
  <strong>Stroe active:</strong>
  <%= @store.stroe_active %>
</p>

<p>
  <strong>Store on time:</strong>
  <%= @store.store_on_time %>
</p>

<p>
  <strong>Store close time:</strong>
  <%= @store.store_close_time %>
</p>

<p>
  <strong>Vender:</strong>
  <%= @store.vender %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
