<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vender.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vender.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @vender.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vender.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @vender.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @vender.dob %>
</p>

<p>
  <strong>Cnic:</strong>
  <%= @vender.cnic %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @vender.contact %>
</p>

<p>
  <strong>Country:</strong>
  <%= @vender.country %>
</p>

<%= link_to 'Edit', edit_vender_path(@vender) %> |
<%= link_to 'Back', venders_path %>
