<div class="row">
  <div class="col-lg-9 mt-3 offset-2">
    <div class="card">
      <div class="card-header">
        <strong>Brand</strong>
      </div>
      <div class="card-body">
        <h2 align="center">Brand: <%= @company.title %></h2>
        <div class="well col-xs-8 col-xs-offset-2">
          <div class="Center">
            <% if @company.image.attached? %>
              <%= image_tag(url_for(@company.image.variant(resize: '200x200'))) %><br>
            <% end %>
          </div>
          <br>
          <h4>Address: </h4><br>
          <p><%= @company.address%></p>
          <h4>Contact: </h4><br>
          <p><%= @company.contact%></p>
          <h4>Individual Experience: </h4><br>
          <p><%= @company.individual_experience%></p>
          <div class="article-actions">
            <%= link_to "Edit",  edit_admin_company_path(@company), class: "btn btn-xs btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
