
<!--Use class "navbar-fixed" or "navbar-default" -->
<!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

<!-- ======================== Navigation ======================== -->


<!-- ========================  Main header ======================== -->

<section class="main-header main-header-blog" style="background-image:url(assets/images/gallery-1.jpg)">
  <header>
    <div class="container text-center">
      <h2 class="h2 title">Job</h2>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a href="<%= jobs_path %>">All Jobs</a></li>
        <li><a class="active"><%= @job.title %></a></li>
      </ol>
    </div>
  </header>
</section>

<!-- ========================  Blog article ======================== -->

<section class="blog">

  <!-- === blog navigation === -->

  <div class="blog-navigation">
    <!-- === nav previous === -->

    <% if @job_prev.present? %>
      <%=  link_to "", @job_prev, class: "nav-link prev"  %>
    <% end %>

    <!-- === nav next === -->
    <% if @job_next.present? %>
      <%=  link_to "", @job_next, class: "nav-link next"  %>
    <%  end %>

    <!-- === nav next === -->


  </div> <!--/blog-navigation-->
  <!-- ========================  Blog post ======================== -->

  <div class="container">

    <div class="row">

      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

        <div class="blog-post">

          <!-- === blog main image & entry info === -->

          <div class="blog-image-main">
            <% if @job.image.attached? %>
              <%= image_tag(url_for(@job.image)) %><br>
            <% else %>
              <img src="/assets/furnishia/product-1.png" alt="" width="360" />
            <% end %>
          </div>

          <div class="blog-post-content">

            <!-- === blog post title === -->

            <div class="blog-post-title">
              <h1 class="blog-title">
                <%= @job.title %>
              </h1>
              <h2 class="blog-subtitle h5">
                <%= @job.description %>
              </h2>
              <h2 class="blog-subtitle h5">
                <%= @job.address %>
              </h2>
              <h2 class="blog-subtitle h5">
                <%= @job.salary %>
              </h2>
              <!--/blog-info-->
            </div>

            <!-- === blog post text === -->

            <!-- === blog info === -->

            <!--/blog-info-->
          </div>

          <!-- === blog comments === -->



        </div><!--blog-post-->
      </div><!--col-sm-8-->
    </div> <!--/row-->
  </div><!--/container-->
</section>

<!-- ================== Footer  ================== -->

<footer>
  <div class="container">

    <!--footer showroom-->
    <div class="footer-showroom">
      <div class="row">
        <div class="col-sm-8">
          <h2>Visit our showroom</h2>
          <p>200 12th Ave, New York, NY 10001, USA</p>
          <p>Mon - Sat: 10 am - 6 pm &nbsp; &nbsp; | &nbsp; &nbsp; Sun: 12pm - 2 pm</p>
        </div>
        <div class="col-sm-4 text-center">
          <a href="#" class="btn btn-clean"><span class="icon icon-map-marker"></span> Get directions</a>
          <div class="call-us h4"><span class="icon icon-phone-handset"></span> 333.278.06622</div>
        </div>
      </div>
    </div>

    <!--footer links-->
    <div class="footer-links">
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <h5>Browse by</h5>
          <ul>
            <li><a href="#">Brand</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Category</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Recources</h5>
          <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Sales</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Our company</h5>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <h5>Sign up for our newsletter</h5>
          <p><i>Add your email address to sign up for our monthly emails and to receive promotional offers.</i></p>
          <div class="form-group form-newsletter">
            <input class="form-control" type="text" name="email" value="" placeholder="Email address" />
            <input type="submit" class="btn btn-clean btn-sm" value="Subscribe" />
          </div>
        </div>
      </div>
    </div>

    <!--footer social-->

    <div class="footer-social">
      <div class="row">
        <div class="col-sm-6">
          <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank"><i class="fa fa-download"></i> Download Mobel</a> &nbsp; | <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a>
        </div>
        <div class="col-sm-6 links">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

