    <% if @store.present? %>
         <div style="display: none">
           <p id="lat_long"><%= @lat_long %></p>
        </div>
         <div class="col-md-6" id="card-info">
            <div class="location-cards">

              <div class="row">
                <div class="col-md-12">
                    <div>
                     <h3 id="store-name"><%= @store.present? ? @store.store_name : "" %></h3>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="address-content-div">
                
                  <div class="trading address-margin">
                     <p>TRADING HOURS:</p>
                     <span>NOW OPEN DURING LOCKDOWN</span>
                  </div>
                  <div class="mon-fri address-margin">
                     <p>Monday - Friday:</p>
                     <span>9am-5pm</span>
                  </div>
                  <div class="saturday address-margin">
                     <p>Saturday</p>
                     <span>9am-3pm</span>
                  </div>
                  <div class="sunday address-margin">
                     <p>Sunday</p>
                     <span>9am-1pm</span>
                  </div>
                  <div class="public-holydays address-margin">
                     <p>Public Holidays:</p>
                     <span>9am-2pm</span>
                  </div>
                  <div class="public-holydays address-margin">
                     <p>Close Christmas,Boxing and News</p>
                     <span>9am-2pm</span>
                  </div>
               </div>
                </div>

                <div class="col-md-6">
                  <div class="address-content-div">
                
                  <div class="trading address-margin">
                     <p>TEL:</p>
                     <span id="store-num"><%= @store.present? ? @store.store_phone : "" %></span>
                  </div>
                  
               </div>
                  
                </div>


              </div>
             <!--   <div class="address-content-div">
                  <div>
                     <h3>abcd</h3>
                  </div>
                  <div class="trading address-margin">
                     <p>TRADING HOURS:</p>
                     <span>NOW OPEN DURING LOCKDOWN</span>
                  </div>
                  <div class="mon-fri address-margin">
                     <p>Monday - Friday:</p>
                     <span>9am-5pm</span>
                  </div>
                  <div class="saturday address-margin">
                     <p>Saturday</p>
                     <span>9am-3pm</span>
                  </div>
                  <div class="sunday address-margin">
                     <p>Sunday</p>
                     <span>9am-1pm</span>
                  </div>
                  <div class="public-holydays address-margin">
                     <p>Public Holidays:</p>
                     <span>9am-2pm</span>
                  </div>
                  <div class="public-holydays address-margin">
                     <p>Close Christmas,Boxing and News</p>
                     <span>9am-2pm</span>
                  </div>
               </div> -->
            </div>
            <div class="d-sm-block mb-5">
               <div id="map" style="height: 480px;"></div>
               <script>
                  // var markers = [];
                  // function initialize() {
                     // var beaches = $('#lat_long').text();
                      // debugger
                     // beaches = eval(beaches.replace(">", ""))
                  
                     // var map = new google.maps.Map(document.getElementById('map'), {
                         // zoom: 12,
                         // center: new google.maps.LatLng(-26.243046, 28.006550),
                         // mapTypeId: google.maps.MapTypeId.ROADMAP
                     // });
                  
                     // var infowindow = new google.maps.InfoWindow();
                  
                     // for (var i = 0; i < beaches.length; i++) {
                  
                         // var newMarker = new google.maps.Marker({
                             // position: new google.maps.LatLng(beaches[i][1], beaches[i][2]),
                             // map: map,
                             // icon: 'https://i.imgur.com/SzGKHAk.png',
                             // title: beaches[i][0]
                         // });
                         // google.maps.event.addListener(newMarker, 'click', (function (newMarker, i) {
                             // return function () {
                                 // infowindow.setContent(beaches[i][0]);
                                 // infowindow.open(map, newMarker);
                             // }
                         // })(newMarker, i));
                  
                         // markers.push(newMarker);
                     // }
                  // }
                  
                  // initialize();
          let map;

          function initialize() {
            beach = $('#lat_long').text();
            beach = eval(beach)
            const mapOptions = {
              zoom: 12,
              center: { lat: beach[1], lng: beach[2] },
            };
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            const marker = new google.maps.Marker({
              // The below line is equivalent to writing:
              icon: 'https://i.imgur.com/SzGKHAk.png',
              // position: new google.maps.LatLng(-34.397, 150.644)
              position: { lat: beach[1], lng: beach[2] },
              map: map,
            });
            // You can use a LatLng literal in place of a google.maps.LatLng object when
            // creating the Marker object. Once the Marker object is instantiated, its
            // position will be available as a google.maps.LatLng object. In this case,
            // we retrieve the marker's position using the
            // google.maps.LatLng.getPosition() method.
            const infowindow = new google.maps.InfoWindow({
              content: "<p>South Africa</p>",
            });
            google.maps.event.addListener(marker, "click", () => {
              infowindow.open(map, marker);
            });
          }
          initialize();
               </script>
            </div>
         </div>
         <% end %>

         <script type="text/javascript">
           
        $(".custom-store-locator-card").click(function (){
          store = $(this).children().children()[0].innerHTML
          window.location.href = '/store_locator?search=<%= params[:search] %>' + '&store=' + store;
          return false;

      //     $.ajax({
      //     url: '/store_locator?search=<%= params[:search] %>&store_item=' + store,
      //     type: "GET",
      //     processData: false,
      //     // beforeSend: function(xhr, settings) {
      //     //   xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
      //     // }
      //     success: function (data) {
      //       $('#card-info').css("display", "initial")
      //       $('#store-name').text(data.store_name);
      //       $('#store-num').text(data.store_phone);
      //     },
      //     error: function (data) {

      //         alert('Error');
      //     }

      // });

   });
         </script>
