<!-- ========================  Main header ======================== -->
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/support-banner.png') %>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Support Center</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- ========================  Contact ======================== -->

  <!-- ================ contact section start ================= -->
  <section class="contact-section padding_top">
    <div class="container">
      <div class=" d-sm-block mb-5 pb-4">
        <div id="map" style="height: 480px;"></div>
        <script>
          let map;

          function initMap() {
            const mapOptions = {
              zoom: 17,
              center: { lat: -26.243046, lng: 28.006550 },
            };
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            const marker = new google.maps.Marker({
              // The below line is equivalent to writing:
              icon: 'https://i.imgur.com/SzGKHAk.png',
              // position: new google.maps.LatLng(-34.397, 150.644)
              position: { lat: -26.243046, lng: 28.006550 },
              map: map,
            });
            // You can use a LatLng literal in place of a google.maps.LatLng object when
            // creating the Marker object. Once the Marker object is instantiated, its
            // position will be available as a google.maps.LatLng object. In this case,
            // we retrieve the marker's position using the
            // google.maps.LatLng.getPosition() method.
            const infowindow = new google.maps.InfoWindow({
              content: "<p>8 Rente St, Johannesburg South, 2091, South Africa</p>",
            });
            google.maps.event.addListener(marker, "click", () => {
              infowindow.open(map, marker);
            });
          }
        </script>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaILC4Z-JG0A-_TZ-o3BiJMSFqUvh6cKk&callback=initMap">
        </script>

      </div>


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-7">
          <%= form_for Contact.new do |f| %>
          <!-- <form id="sendmail" name="sendmail" action="sendmail.php" method="post"> -->
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.text_field(:name, class: "form-control", placeholder: 'Enter Name') %>
                  <!-- <input id="Name" name="Name" type="text" value="" class="form-control" placeholder="Enter your name"> -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.text_field(:email, class: "form-control", placeholder: 'Enter Email Address') %>
                  <!-- <input id="Email" name="Email" type="email" value="" class="form-control" placeholder="Enter email address"> -->
              </div>
            </div>
              <div class="col-12">
                <div class="form-group">
                  <%= f.text_field(:subject, class: "form-control", placeholder: 'Enter Subject') %>
                  <!-- <input id="Subject" name="Subject" type="text" value="" class="form-control" placeholder="Enter Subject"> -->
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <%= f.text_area(:message, class: "form-control w-100", placeholder: 'Type Message', cols: "30", rows: "6" ) %>
                  <!-- <textarea id="Comment" name="Comment" class="form-control w-100" placeholder='Enter Message'  cols="30" rows="6"></textarea> -->
                </div>
              </div>
                
            </div>
            <div class="form-group mt-3">
              <%= f.submit 'SEND MESSAGE', :class => 'btn_3 button-contactForm' %>
              <!-- <input type="submit" class="btn_3 button-contactForm" value="Send message" /> -->
            </div>
          <!-- </form> -->
          <% end %>
        </div>
        <div class="col-lg-5">
          <div class="media contact-info">
            <span class="contact-info__icon"></span>
            <div class="media-body">
              <h1>SUPPORT OFFICE</h1>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-home"></i></span>
            <div class="media-body">
              <p>8 Rente St, Johannesburg South, 2091, South Africa</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-tablet"></i></span>
            <div class="media-body">
              <p><a href="tel:+27 087 740 2101" style="color: #8a8a8a">+27 087 740 2101</a></p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-envelope"></i></span>
            <div class="media-body">
              <p><a href="mailto:enquires@fairprice.co.za" target="_blank" style="color: #8a8a8a">enquires@fairprice.co.za</a></p>
            </div>
          </div>
        <!--   <div class="media contact-info">
            <span class="contact-info__icon"><i class="fa fa-link"></i></span>
            <div class="media-body">
              <p>www.fairprice.co.za</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
