<%= render 'shared/errors', obj: store %>
<%= form_for  store, store_form_attributes(store) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :store_name, class: "form-control", :required => true, autocomplete: false, placeholder: "Title", autofocus: true %> <br/>
  </div>

<!--  <div class="form-group">-->
    <%#= f.label :store_Type %>
    <%#= f.select(:store_type_id, options_for_select(store_type_options, selected: selected_store_type(store)), { prompt: "Please Select" }, { class: 'form-control' }) %>
<!--  </div>-->

  <div class="form-group">
    <%= f.label :category_tags %>
    <%= f.text_area :category_tags, class: "form-control", autocomplete: false, placeholder: "Category / Tags", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :store_address, class: "form-control", :required => true, autocomplete: false, placeholder: "Store Address", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :store_city, class: "form-control", autocomplete: false, placeholder: "Store City", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :store_country, :required => true, class: "form-control", autocomplete: false, placeholder: "Store Country", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :store_state, class: "form-control", autocomplete: false, placeholder: "Store State", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :store_phone, class: "form-control", autocomplete: false, placeholder: "Store Phone Number", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :store_email, class: "form-control", autocomplete: false, placeholder: "Store Email", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :fax %>
    <%= f.text_field :store_fax, class: "form-control", autocomplete: false, placeholder: "Store Fax", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :store_website, class: "form-control", autocomplete: false, placeholder: "Store Website", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :store_link, class: "form-control", autocomplete: false, placeholder: "Store Link", autofocus: true %> <br/>
  </div>


  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :stroe_description, class: "form-control", autocomplete: false, placeholder: "Store Description", autofocus: true %> <br/>
    <!-- <textarea name="editor1"></textarea> -->
  </div>

  <div class="form-group">
    <%= f.label :operating_hours %>
    <%= f.text_area :operating_hours, class: "form-control", autocomplete: false, placeholder: "Operating Hours", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :latitude %>
    <%= f.text_field :lat, class: "form-control", autocomplete: false, placeholder: "Latitude", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :longitude %>
    <%= f.text_field :long, class: "form-control", autocomplete: false, placeholder: "Longitude", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :image %> <br>
  <%= f.file_field :images, multiple: true %><br><br>
  </div>

  <%= f.submit class: "btn btn-block btn-primary custom-table-edit-btn"%>
<% end %>


<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

<script>
    $(document).ready(function() {
        var x = new SlimSelect({
            select: '#demo'
        });
    CKEDITOR.replace( 'store[operating_hours]' );
    });
    CKEDITOR.replace( 'store[operating_hours]' );

</script>
