<%= render 'shared/errors', obj: project %>
<%= form_for  project, project_form_attributes(project) do |f| %>

  <% @project.images.each do |image| %>
    <div id="image_<%= image.signed_id %>">
      <%= image_tag(url_for(image.variant(resize: '200x200'))) %>
      <%= link_to 'Remove', delete_image_attachment_admin_project_path(image_id: image.signed_id, id: @project.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %><br>

  <div class="form-group">
    <%= f.label :Title %>
    <%= f.text_field :title, class: "form-control", :required => true, autocomplete: false, placeholder: "Project Title", autofocus: true %> <br/>
  </div>



  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", :required => true, autocomplete: false, placeholder: "Project Description", autofocus: true %> <br/>
  </div>
  <%= f.file_field :images, multiple: true %><br><br>
  <%= f.submit class: "btn btn-block btn-primary custom-table-edit-btn"%>
<% end %>