
<!--Use class "navbar-fixed" or "navbar-default" -->
<!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

<!-- ======================== Navigation ======================== -->



<!-- ======================== Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/gallery-4.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title">All Projects</h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a href="<%= vendors_path(category_id: @user.category_id) %>"><%= @user.category.title %> Vendors</a></li>
        <li><a class="active" href="<%= projects_path(user_id: @user.id)%>">Projects</a></li>
      </ol>
    </div>
  </header>
</section>


<!-- ======================== Products ======================== -->

<section class="products">
  <div class="container">
    <div class="row">
      <!-- === product-items === -->
      <div class="col-md-12 col-xs-12">
        <div class="row">
          <!-- === product-item === -->
          <%  @projects.each do |project|  %>
            <div class="col-md-4 col-xs-6">
              <article>
                <div class="figure-grid">
                  <div class="image">
                    <% if project.images.attached? %>
                      <%= link_to project do%>
                        <%= image_tag(url_for(project.images.first)) %><br>
                        <!--                        <img src="<%#= project.images.first.url %>" alt="" width="360" />-->
                      <% end %>
                    <% else %>
                      <%= link_to project do%>
                        <img src="/assets/furnishia/product-1.png" alt=""  />
                      <% end %>
                    <% end %>
                  </div>
                  <div class="text">
                    <h2 class="title h4"><%= project.title %></h2>
                    <span class="description clearfix"><%= project.description %></span>
                  </div>
                </div>
              </article>
            </div>
          <% end %>
        </div><!--/row-->
        <!--Pagination-->
        <div class="pagination-wrapper">
          <%= will_paginate @projects %>
        </div>
      </div> <!--/product items-->
    </div><!--/row-->
  </div><!--/container-->
</section>


