<!-- ========================  Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/gallery-2.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title"> Popular Interior Designer</h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a class="active" > Popular Interior Designer</a></li>
      </ol>
    </div>
  </header>
</section>

<!-- ========================  Product ======================== -->

<section class="product custom-city-show">
  <div class="container">
    <% @popular_interior_designers.each_with_index do |interior_designer, index| %>
      <% if index % 3 == 0 %>
        <% if index != 0 %>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="designer" style="margin-top: 0">
              <div class="box">
                <div class="image">
                  <% if interior_designer.profile.image.attached? %>
                    <%= image_tag(url_for(interior_designer.profile.image)) %>
                  <%else %>
                    <img src="/assets/furnishia/user-1.jpg" alt="" width="200" />
                  <% end %>
                </div>
                <div class="name">
                  <%= link_to profiles_path(user_id: interior_designer.id) do %>
                    <div class="h3 title"><%= interior_designer.full_name %> <small><%= interior_designer.category_title %></small></div>
                  <% end %>
                  <hr/>
                  <p><i class="icon icon-envelope"></i> <%= interior_designer.email %></p>
                  <p><i class="icon icon-phone-handset"></i> <%= interior_designer.profile.phone %></p>
                  <p>
                    <a href="<%= interior_designer.profile.facebook %>" class="btn btn-main btn-xs"><i class="fa fa-facebook"></i></a>
                    <a href="<%= interior_designer.profile.instagram %>" class="btn btn-main btn-xs"><i class="fa fa-instagram"></i></a>
                    <a href="<%= interior_designer.profile.twitter %>" class="btn btn-main btn-xs"><i class="fa fa-twitter"></i></a>
                  </p>
                </div> <!--/name-->
              </div> <!--/box-->
            </div> <!--/designer-->
          </div>
      <% else %>
        <div class="col-md-4 col-sm-4">
          <div class="designer" style="margin-top: 0">
            <div class="box">
              <div class="image">
                <% if interior_designer.profile.image.attached? %>
                  <%= image_tag(url_for(interior_designer.profile.image)) %>
                <%else %>
                  <img src="/assets/furnishia/user-1.jpg" alt="" width="200" />
                <% end %>
              </div>
              <div class="name">
                <%= link_to profiles_path(user_id: interior_designer.id) do %>
                  <div class="h3 title"><%= interior_designer.full_name %> <small><%= interior_designer.category_title %></small></div>
                <% end %>
                <hr/>
                <p><i class="icon icon-envelope"></i> <%= interior_designer.email %></p>
                <p><i class="icon icon-phone-handset"></i> <%= interior_designer.profile.phone %></p>
                <p>
                  <a href="<%= interior_designer.profile.facebook %>" class="btn btn-main btn-xs"><i class="fa fa-facebook"></i></a>
                  <a href="<%= interior_designer.profile.instagram %>" class="btn btn-main btn-xs"><i class="fa fa-instagram"></i></a>
                  <a href="<%= interior_designer.profile.twitter %>" class="btn btn-main btn-xs"><i class="fa fa-twitter"></i></a>
                </p>
              </div> <!--/name-->
            </div> <!--/box-->
          </div> <!--/designer-->
        </div>
      <% end %>
    <% end %>

    </div><!--/container-->
    <!--/info-->
    </section>
<div class="pagination-wrapper">
  <%= will_paginate @popular_interior_designers %>
</div>
