<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<% if user_signed_in? %>
  <header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%#=image_tag("coreui/logo.svg", size: "89x25", class: "navbar-brand-full")%>

      <%=image_tag("coreui/sygnet.svg", size: "30x30", class: "navbar-brand-minimized")%>
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <!--          <i class="fa fa-lock">-->
          <%if current_user.profile.present? && current_user.profile.image.attached?%>
            <%=image_tag(url_for(current_user.profile.image), size: "30x30", class: "img-avatar")%>
          <% else %>
            <%=image_tag("coreui/user-1.jpg", size: "30x30", class: "img-avatar")%>
          <% end %>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to root_path, class: "dropdown-item" do %>
            <i class="fa fa-lock"></i> Fair Price
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
            <i class="fa fa-lock"></i> Logout
          <% end %>
        </div>
      </li>

    </ul>
    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>
<% end %>