<%#= form_for(@user, html: {class: "form-horizontal", role: "form"} ) do |f| %>
<%= render 'shared/errors', obj: category %>
<%= form_for  category, category_form_attributes(category) do |f| %>
<!--  <div>-->
    <%#= f.label :Category, "Add Category", :value => "false" %>
    <%#= f.radio_button :category, true ,:checked => true , onChange: "showcategory();"%>
    <%#= f.label :subcategory, " Add subcategory", :value => "false" %>
    <%#= f.radio_button :category, false, :checked => false, onChange: "showcategory();" %>
<!--  </div>-->
  <div class="form-group">
      <div id="subcatdiv" style="display:none">
        <%= f.label :Category %>
        <%= f.select(:parent_id, options_for_select(category_options), { prompt: "Please Select" }, { class: 'form-control' }) %>
      </div>
    <%= f.label :Title %>
    <%= f.text_field :title, class: "form-control", :required => true, autocomplete: false, placeholder: "Title", autofocus: true %> <br/>
  </div>
  <!-- <div class="form-group">
    <%#= f.label :shipping_price, "Delivery Fee" %>
    <%#= f.text_field :shipping_price, class: "form-control", :required => true, autocomplete: false, placeholder: "Shipping Price", autofocus: true %> <br/>
  </div> -->
  <div class="form-group">
    <label for="exampleInputName1">Category Location</label>
    <%= f.select :category_type, options_for_select(Category.category_types.to_a, selected: selected_category_type(f)) , {:include_blank => 'Select Category Location'}, html_options = {:class=>"form-control category_type", required: true, title: "Please Select Category Type" } %>
  </div>
    <div id="image_<%= category.image %>">
    <% if category.image.present? %>
      <%= image_tag(url_for(category.image), style: "width: 100px") %>
    <% end %>
  </div><br>
  <div class="form-group">
    <%= f.label :image, "Home Page Image" %> <br>
  <%= f.file_field :image %><br><br>
  </div>
  <div id="image_<%= category.banner_image %>">
    <% if category.banner_image.present? %>
      <%= image_tag(url_for(category.banner_image), style: "width: 100px") %>
    <% end %>
  </div><br>
  <div class="form-group">
    <%= f.label :banner_image %> <br>
  <%= f.file_field :banner_image %><br><br>
  </div>
  <%= f.submit class: "btn btn-block custom-table-edit-btn btn-primary"%>
<% end %>
<script>
  function showcategory() {
      $('#subcatdiv').toggle();
  }
</script>

