<%= render 'shared/errors', obj: product %>
<%= form_for  product, product_form_attributes(product) do |f| %>

  <% @product.images.each do |image| %>
    <div id="image_<%= image.signed_id %>">
      <%= image_tag(url_for(image), style: "width: 100px") %>
      <%= link_to 'Remove', delete_image_attachment_admin_product_path(@product, image_id: image.id),
                  method: :delete,

                  data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %><br>

  <div class="form-group" style="display: none">
    <%= f.label :Company, "Brand" %>
    <%= f.select(:company_id, options_for_select(company_options, selected: selected_company(product)), { prompt: "Please Select Brand" }, { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.label :title, "Product Name" %>
    <%= f.text_field :title, class: "form-control", :required => true, autocomplete: false, placeholder: "Product Name", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :print_description, "Product Print Description" %>
    <%= f.text_field :print_description, class: "form-control", :required => true, autocomplete: false, placeholder: "Product Print Description", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, class: "form-control", autocomplete: false, placeholder: "Code", disabled: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :Product_Category %>
    <%= f.select(:product_category_id, options_for_select(product_category_options, selected: selected_product_category(product)), { prompt: "Please Select Category" }, { :required => true, class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.label :Product_Type %>
    <%= f.select(:product_type_id, options_for_select(product_type_options, selected: selected_product_type(product)), { prompt: "Please Select" }, { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", :required => true, autocomplete: false, placeholder: "Description", autofocus: true %> <br/>
  </div>
<!-- 
  <div class="form-group">
    <%#= f.label :inventory %>
    <%#= f.text_field :inventory, class: "form-control", autocomplete: false, placeholder: "Inventory", autofocus: true %> <br/>
  </div> -->

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, :value => number_with_precisions(f.object.price), :required => true, class: "form-control", autocomplete: false, placeholder: "Price", disabled: true %> <br/>
  </div>

<!--   <div class="form-group">
    <%#= f.label :sub_category_material %>
    <%#= f.text_field :sub_category_material, class: "form-control", autocomplete: false, placeholder: "Sub Category Material", autofocus: true %> <br/>
  </div> -->

  <div class="form-group">
    <%= f.label :Colors %>
    <select name="product[color_ids][]" id="demo" multiple >
      <% Color.all.each_with_index  do |color,index| %>
        <option data-code="<%= color.code %>" value="<%= color.id %>" <%= selected_color(@product, color)  %>><%= color.title%></option>
      <% end %>
    </select>
  </div>

  <div class="form-group"> 
    <%= f.label :assembly_type %><br>
    <%#= f.select(:assembly_type, [['assembled', 0], ['free_assembly', 1], ['diy', 2]], class: "form-control") %>
    <%= f.select(:assembly_type , Product.assembly_types.keys.map {|role| [role.humanize.upcase, role]}, {}, { :class => 'form-control' }) %>

    <%#= f.select(:assembly_type, options_for_select(product_category_options, selected: selected_product_category(product)), { prompt: "Please Select Category" }, { :required => true, class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.label :length %> x
    <%= f.label :width %> x
    <%= f.label :height %>
    <br>
    <%= f.text_field :length, class: "", autocomplete: false, placeholder: "Length", autofocus: true %> X
    <%= f.text_field :width, class: "", autocomplete: false, placeholder: "Width", autofocus: true %> X
    <%= f.text_field :height, class: "", autocomplete: false, placeholder: "Height", autofocus: true %> <br/>

  </div>

  <div class="form-group">
    <%= f.label :is_active, "Make Active" %>
    <%= f.check_box :status %> <br/>
  </div>
<!-- 
  <div class="form-group">
    <%#= f.label :is_promotional_banner, "Sales Banner" %>
    <%#= f.check_box :is_promotional_banner %> <br/>
  </div> -->

  <!-- <div class="form-group"> -->
    <%#= f.label :visibility %>
    <!-- <%#= f.check_box :visibility %> <br/> -->
  <!-- </div> -->
  
  <div class="form-group">
    <%= f.label :is_discounted %>
    <%= f.check_box :is_discounted %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :clean_and_care %>
    <%= f.text_field :clean_and_care, class: "form-control", autocomplete: false, placeholder: "Clean and Care", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :warranty %>
    <%= f.text_field :warranty, class: "form-control", autocomplete: false, placeholder: "Warranty", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :default_image %><br>
    <%= f.file_field :default_image %><br><br>
  </div>

  <div class="form-group">
    <%= f.label :Images %><br>
    <%= f.file_field :images, multiple: true %><br><br>
  </div>

  <%= f.submit class: "btn btn-block btn-primary custom-table-edit-btn"%>
<% end %>

<script>
    $(document).ready(function() {
        var x = new SlimSelect({
            select: '#demo'
        });
    });
</script>
