  
<style type="text/css">
  
    .single_product_text h3{

    color: #e9414f; 
    font-weight: 500
  }
</style>

<%# @products = @products.paginate(page: params[:page], per_page: 6) %>

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/breadcrumb.png') %>');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2><%= params[:brand].gsub("_", " ") %></h2>
                            <p>Brand <span>-</span> <%= params[:brand].gsub("_", " ") %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                  <% @product_categories.each do |category| %>
                                    <% if category.products.where(id: @products.pluck(:id)).count > 0 %>
                                      <li>
                                          <a href="/brand_products?type=<%= params[:type] %>&category=<%= category.title.gsub(" ", "_") %>&brand=<%= params[:brand] %>"><%= category.title %></a>
                                          <span><%= category.products.where(id: @products.pluck(:id)).count %></span>
                                      </li>
                                    <% end %>
                                  <% end %>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Brands</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                  <% @companies.to_a.each do |brand| %>
                                    <% if @brand_products.where(product_category_id: @category.product_categories.pluck(:id), company_id: brand.id).count > 0 %>
                                      <li>
                                          <a href="/brand_products?&brand=<%= params[:brand] %>"><%= brand.title %></a>
                                          <span><%= @brand_products.where(product_category_id: @category.product_categories.pluck(:id), company_id: brand.id).count %></span>
                                      </li>
                                    <% end %>
                                  <% end %>
                                </ul>
                            </div>
                        </aside>
<!-- 
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Color Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Black</a>
                                    </li>
                                    <li>
                                        <a href="#">Black Leather</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Black with red</a>
                                    </li>
                                    <li>
                                        <a href="#">Gold</a>
                                    </li>
                                    <li>
                                        <a href="#">Spacegrey</a>
                                    </li>
                                </ul>
                            </div>
                        </aside> -->

                        <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            <div class="l_w_title">
                                <h3>Price Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <!-- <div id="slider-range"></div> -->
                                    <input type="text" class="js-range-slider" value="" />
                                    <div class="d-flex">
                                        <div class="price_text">
                                            <p>Price :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>to</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                    <p><span><%= @products.count %> </span> <%= (@products.count > 1) ? "Products" : "Product" %> Found</p>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>sort by : </h5>
                                    <select class= "sorter">
                                        <option id="sort-by-price" value="1">Price(low to high)</option>
                                        <option id="sort-by-price" value="2">Price(high to low)</option>
                                        <option id="sort-by-name" value="3">Newest</option>
                                    </select>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>show :</h5>
                                    <div class="top_pageniation">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group">
                                      <input type="text" class="form-control" id="search-product" placeholder="search"
                                            aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center latest_product_inner">
                      <% @products.each do |product| %>
                        <% next if product.is_promotional_banner == true %>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/products/#{product.id}" do %>
                                <img src="<%=url_for(product.images.first) %>">
                                <% end %>
                                <div class="single_product_text">
                                  <%= link_to "/products/#{product.id}" do %>
                                    <h4><%= product.print_description %></h4>
                                  <% end %>
                                    <h3 style="color: #e9414f; font-weight: 500">R<%= product.price.to_i %></h3>
                                    <%= link_to add_to_cart_product_path(product.id), class: "add_cart", method: :post do %>
                                      + add to cart
                                      <!-- <i class="fa fa-heart-o"></i> -->
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        <div class="col-lg-12">
<!--                             <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="ti-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="ti-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <!-- product_list part start-->
<section class="product_list best_seller">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section_tittle text-center">
          <h2>Related Products</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-12">
        <div class="best_product_slider owl-carousel">
          <% @best_seller_products.each do |product| %>
            <div class="single_product_item">
              <div class="cutome-img-size">
                <%= link_to "/products/#{product.id}" do %>
                  <img src="<%= url_for(product.images.first) %>">
                <% end %>
              </div>
              <div class="single_product_text">
                <%= link_to "/products/#{product.id}" do %>
                  <h4><%= product.print_description %></h4>
                <% end %>
                <h3><span style="color: #e9414f; font-weight: 500">R<%= product.price.to_i %></span></h3>
                <%= link_to product_path(product.id), class: "add_cart", method: :get do %>
                  + add to cart
                  <!-- <i class="fa fa-heart-o"></i> -->
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- product_list part end-->



    <script type="text/javascript">
        var best_product_slider = $('.best_product_slider');
          if (best_product_slider.length) {
            best_product_slider.owlCarousel({
              items: 4,
              loop: true,
              dots: false,
              autoplay: true,
              autoplayHoverPause: true,
              autoplayTimeout: 5000,
              nav: true,
              navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
              responsive: {
                0: {
                  margin: 15,
                  items: 1,
                  nav: false
                },
                576: {
                  margin: 15,
                  items: 2,
                  nav: false
                },
                768: {
                  margin: 30,
                  items: 3,
                  nav: true
                },
                991: {
                  margin: 30,
                  items: 4,
                  nav: true
                }
              }
            });
          }

          // Trigger

          $(function () {
            
          var $range = $(".js-range-slider"),
              $inputFrom = $(".js-input-from"),
              $inputTo = $(".js-input-to"),
              instance,
              min = 0,
              max = 1000,
              from = 10,
              to = 100;

          $range.ionRangeSlider({
              type: "double",
              min: min,
              max: max,
              from: 0,
              to: 500,
            prefix: 'tk. ',
              onStart: updateInputs,
              onChange: updateInputs,
              step: 1,
              prettify_enabled: true,
              prettify_separator: ".",
            values_separator: " - ",
            force_edges: true
            

          });

          instance = $range.data("ionRangeSlider");

          function updateInputs (data) {
              from = data.from;
              to = data.to;
              
              $inputFrom.prop("value", from);
              $inputTo.prop("value", to); 
          }

          $inputFrom.on("input", function () {
              var val = $(this).prop("value");
              
              // validate
              if (val < min) {
                  val = min;
              } else if (val > to) {
                  val = to;
              }
              
              instance.update({
                  from: val
              });
          });

          $inputTo.on("input", function () {
              var val = $(this).prop("value");
              
              // validate
              if (val < from) {
                  val = from;
              } else if (val > max) {
                  val = max;
              }
              
              instance.update({
                  to: val
              });
          });

    });



    $('#inputGroupPrepend').click(function(){
      window.location.href = '/brand_products?type=<%= params[:type] %>&brand=<%= params[:brand] %>&category=<%= params[:category] %>&search=' + $('#search-product').val()
            // window.location.href = '/'
    });

    $(".sorter").change(function() {
        // Pure JS
        var selectedVal = this.value;
        var selectedText = this.options[this.selectedIndex].text;
        if (selectedText === "newest") {
            selectedText = "created_at";
        }
        // jQuery
        window.location.href = '/brand_products?type=<%= params[:type] %>&brand=<%= params[:brand] %>&search=<%= params[:search] %>&category=<%= params[:category] %>&sort_by=' + selectedText
    });

    </script>