<style type="text/css">
  .input-group-textt {
    width: 218px;
    height: 37px;
    line-height: 22px;
  }

  .single_product_item .cutome-img-size img {
    object-fit: contain !important;
  }

  .single_product_item .single_product_text a {
    display: initial !important;
    visibility: visible !important;
  }
  
  .custom-link a{
    color: #777777;
  }

  .js-input-to {
    max-width: 55px !important;
  }

  .js-input-from {
    max-width: 55px !important;
  }

  .sidebar-sticky-custom{

  /*width: 25%;*/
    /*min-height: 200px;*/
    /*overflow: auto;*/
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    margin-bottom: 60px;
  }
  .custom-reload{
    font-size: 14.5px !important;
    cursor: pointer;
  }

  .modal-body{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
  }
  .custom-showMore-btn {
  display: flex;
  justify-content: center;
  }
  .showMore-btn-style {
    padding: 10px 100px;
    color: #444;
    background-color: #fff;
    border-color: #ccc;
    padding: 8px 120px;
    border-radius: 0px;
    font-weight: 400;
    font-size: 18px;
  }
}
.irs-from, .irs-to, .irs-single{
  display: none;
}

  .custom-sidebar-fix{
    height: 500px;
    overflow: scroll;
  }

 /* .custom-sidebar-fix::-webkit-scrollbar {

    display: none;
}*/

  @media only screen and (max-width: 600px) {

  

 .sidebar-sticky-custom{

  /*width: 25%;*/
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    margin-bottom: 60px;
  }
}





</style>

<%# @products = @products.paginate(page: params[:page], per_page: 6) %>
<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<% if @category.present? && @category.banner_image.present? %>
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path(url_for(@category.banner_image.variant(resize: '800x800'))) %>');">
<% else %>
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/breadcrumb.png') %>');">
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2 style="white-space: break-spaces; width: 600px;"><%= params[:type].present? ? params[:type].gsub("_", " ") : "Products" %></h2>
            <p class="custom-link"><a href="/product_category?type=<%= @category.present? ? @category.title : "Category" %>"><%= @category.present? ? @category.title : "Category" %></a> <span>-</span> <span class= "custom-reload"> <%= params[:category].present? ? params[:category].gsub("_", " ") : "Products" %> </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!--================Category Product Area =================-->
<section class="cat_product_area section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar-sticky-custom custom-sidebar-fix">
        <div class="left_sidebar_area">
          <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
              <h3>SubCategories</h3>
            </div>
            <div class="widgets_inner ">
              <ul class="list">
                <% title = [] %>
                <% ProductCategory.where(id: @products.pluck(:product_category_id)).order(title: :asc).each do |category| %>
                <% next if title.include? category.title %>
                <% title << category.title %>
                  <% if category.products.where(status: true, is_promotional_banner: false).count > 0 %>
                    <li>
                      <a href="/product_category?type=<%= params[:type] %>&category=<%= category.title.gsub(" ", "_") %>"><%= category.title %></a>
                      <span><%= Product.where(product_category_id: ProductCategory.where(title: category.title).pluck(:id), status: true, is_promotional_banner: false).count %></span>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </aside>

          <!--                         <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Brands</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                  <%# @companies.to_a.each do |brand| %>
                                    <%# if @brand_products.where(product_category_id: @category.product_categories.pluck(:id), company_id: brand.id).count > 0 %>
                                      <li>
                                          <a href="/product_category?type=<%#= params[:type] %>&brand=<%#= brand.title.gsub(" ", "_") %>&category=<%#= params[:category] %>"><%#= brand.title %></a>
                                          <span><%#= @brand_products.where(product_category_id: @category.product_categories.pluck(:id), company_id: brand.id).count %></span>
                                      </li>
                                    <%# end %>
                                  <%# end %>
                                </ul>
                            </div>
                        </aside> -->
          <!--
                                  <aside class="left_widgets p_filter_widgets">
                                      <div class="l_w_title">
                                          <h3>Color Filter</h3>
                                      </div>
                                      <div class="widgets_inner">
                                          <ul class="list">
                                              <li>
                                                  <a href="#">Black</a>
                                              </li>
                                              <li>
                                                  <a href="#">Black Leather</a>
                                              </li>
                                              <li class="active">
                                                  <a href="#">Black with red</a>
                                              </li>
                                              <li>
                                                  <a href="#">Gold</a>
                                              </li>
                                              <li>
                                                  <a href="#">Spacegrey</a>
                                              </li>
                                          </ul>
                                      </div>
                                  </aside> -->
          <% if @products.count > 1 %>
            <aside class="left_widgets p_filter_widgets price_rangs_aside">
              <div class="l_w_title">
                <h3>Price Range</h3>
              </div>
              <div class="widgets_inner">
                <div class="range_item">
                  <!-- <div id="slider-range"></div> -->
                  <input type="text" class="js-range-slider" value=""/>
                  <div class="d-flex">
                    <div class="price_text">
                      <p>Price :</p>
                    </div>
                    <div class="price_value d-flex justify-content-center">
                      <input type="text" class="js-input-from" id="amount" readonly/>
                      <span>to</span>
                      <input type="text" class="js-input-to" id="amount" readonly/>
                    </div>
                  </div>
                  <div class="input-group-append">
                    <a class="input-group-text input-group-textt btn_2" id="price-filter" style="cursor: pointer; color: #ffffff;">Show Results</a>
                  </div>
                </div>
              </div>
            </aside>
          <% end %>
        </div>
          
        </div>
      </div>
      <div class="col-lg-9">
        <div id="products-partial">
          <%= render :partial => 'products', :object => @products %>
        </div>
      </div>
<!--       <div class="col-md-12 text-center">
        <%#= will_paginate @products, class: 'custom-showMore-btn', renderer: BootstrapPagination::Rails %>
      </div> -->
    </div>
  </div>
</section>
<!--================End Category Product Area =================-->

<!-- product_list part start-->
<section class="product_list best_seller">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section_tittle text-center">
          <h2>Related Products</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-12">
        <div class="best_product_slider owl-carousel">
          <% @best_seller_products.each do |product| %>
            <div class="single_product_item">
              <div class="cutome-img-size">
                <%= link_to "/products/#{product.id}" do %>
                  <% if product.images.present? && product.images.first.variable? %>
                    <img src="<%= url_for(product.images.first.variant(resize: '200x200')) %>">
                  <% else %>
                    <img src="<%= url_for(product.images.first) %>">
                  <% end %>
                <% end %>
              </div>
              <div class="single_product_text">
                <%= link_to "/products/#{product.id}" do %>
                  <h4><%= product.print_description %></h4>
                <% end %>
                <h3><span style="color: #e9414f; font-weight: 500;"><span style="margin-right:5px"> R </span>   <span > <%= product.price.to_i %> </span> </span></h3>
                <%= link_to product_path(product.id), class: "add_cart", method: :get do %>
                  + add to cart
                  <!-- <i class="fa fa-heart-o"></i> -->
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" id="add_to_cart_modal" style="align-items: center;"> 
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" >Product Added to cart</h4>
        <button type="button" class="close close_1" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="display: inline-flex;">
          <br>
          <br>
          <div class="checkout_btn_inner float-right">
            <a  class="btn_1 checkout_btn_2" href="" style="margin-left: 20px;">Shop More</a>
          </div>
          <div class="checkout_btn_inner float-right">
            <a  class="btn_1 checkout_btn_1" href="/cart">Go to Cart</a>
          </div>
      </div>

    </div>
  </div>
</div>

<div class="min-price-val" style="display: none"><%= @products.present? ? @products.minimum(:price) : "" %></div>
<div class="max-price-val" style="display: none"><%= @products.present? ? @products.maximum(:price) : "" %></div>
<!-- product_list part end-->

<% if flash[:add_to_cart] %>
  <script type="text/javascript">
    $('#add_to_cart_modal').modal('show');
  </script>
<% end  %>

<script type="text/javascript">
    $(".js-irs-0").remove()
    $(".js-irs-1").remove()
    $(".js-irs-2").remove()
    $(".js-irs-3").remove()
    $(".js-irs-4").remove()
    $(".js-irs-5").remove()
    $(".irs-single").hide()


    $(".checkout_btn_2").on('click', function (e) {
      $('#add_to_cart_modal').modal('hide');
    });

    var best_product_slider = $('.best_product_slider');
    if (best_product_slider.length) {
        best_product_slider.owlCarousel({
            items: 4,
            loop: true,
            dots: false,
            autoplay: true,
            autoplayHoverPause: true,
            autoplayTimeout: 5000,
            nav: true,
            navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
            responsive: {
                0: {
                    margin: 15,
                    items: 1,
                    nav: false
                },
                576: {
                    margin: 15,
                    items: 2,
                    nav: false
                },
                768: {
                    margin: 30,
                    items: 3,
                    nav: true
                },
                991: {
                    margin: 30,
                    items: 4,
                    nav: true
                }
            }
        });
    }

    // Trigger

    $(function () {

        var $range = $(".js-range-slider"),
            $inputFrom = $(".js-input-from"),
            $inputTo = $(".js-input-to"),
            instance,
            min = $(".min-price-val").text(),
            max = $(".max-price-val").text(),
            from = 10,
            to = 100;

        $range.ionRangeSlider({
            type: "double",
            min: min,
            max: max,
            from: 0,
            to: 50000,
            step: 100,
            prefix: 'tk. ',
            onStart: updateInputs,
            onChange: updateInputs,
            prettify_enabled: true,
            prettify_separator: ".",
            values_separator: " - ",
            force_edges: true
        });

        instance = $range.data("ionRangeSlider");

        function updateInputs(data) {
            from = data.from;
            to = data.to;

            $inputFrom.prop("value", from);
            $inputTo.prop("value", to);
            $(".irs-single").hide()

        }

        $inputFrom.on("input", function () {
            var val = $(this).prop("value");

            // validate
            if (val < min) {
                val = min;
            } else if (val > to) {
                val = to;
            }

            instance.update({
                from: val
            });
            $(".irs-single").hide()

        });

        $inputTo.on("input", function () {
            var val = $(this).prop("value");

            // validate
            if (val < from) {
                val = from;
            } else if (val > max) {
                val = max;
            }

            instance.update({
                to: val
            });
        });
        $(".irs-single").hide()

    });

    // $('#price-filter').click(function(){
    //   min_val = $(".js-input-from").val()
    //   max_val = $(".js-input-to").val()
    //   window.location.href = '/product_category?type=<%= params[:type] %>&brand=<%= params[:brand] %>&search=<%= params[:search] %>&category=<%= params[:category] %>&min_val=' + min_val + '&max_val=' + max_val

    // });


    $('.custom-reload').on('click', function (e) {
      window.location.reload();
    });

    $('#price-filter').on('click', function (e) {
        min_val = $(".js-input-from").val()
        max_val = $(".js-input-to").val()
        // e.preventDefault(); // don't submit multiple times
        // this.submit(); // use the native submit method of the form element
        $.ajax({
            url: '/product_category?type=<%= params[:type] %>&brand=<%= params[:brand] %>&search=<%= params[:search] %>&search_query=<%= params[:search_query] %>&category=<%= params[:category] %>&min_val=' + min_val + '&max_val=' + max_val,
            type: "GET",
            processData: false,
            // beforeSend: function(xhr, settings) {
            //   xhr.setRequestHeader('accept', '*/*;q=0.5, ' + settings.accepts.script);
            // }
            success: function (data) {
                $('#products-partial').html("")
                $('#products-partial').html(data)
                console.log(data);
            },
            error: function (data) {

                alert('Error');
            }

        });
    });

</script>