<!-- ======================== Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/gallery-4.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title">All Cities</h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a class="active">Cities</a></li>
      </ol>
    </div>
  </header>
</section>


<!-- ======================== Products ======================== -->

<section class="products custom-city-show">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%  @cities.each do |city|  %>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <article>
              <div class="figure-grid custom-card-container text-center">
                <div class="image custom-figure-grid custom-city-image-grid">
                  <% if city.image.attached? %>
                    <%= link_to city do%>
                      <%= image_tag(url_for(city.image)) %><br>
                    <% end %>
                  <% else %>
                    <%= link_to city do%>
                      <img src="/assets/furnishia/product-1.png"/>
                    <% end %>
                  <% end %>
                </div>
                <div class="text custom-btn-city">
                  <%= link_to city do%>
                    <h2 class="title h4 custom-btn-cityy"><%= city.title %></h2>
                  <% end %>
                </div>
              </div>
            </article>
            <!--              <article>-->
            <!--                <div class="figure-grid">-->
            <!--                  <div class="image">-->
            <%# if city.image.attached? %>
            <%#= link_to city do%>
            <!--                        <%#= image_tag(url_for(city.image)) %><br>-->
            <%# end %>
            <%# else %>
            <%#= link_to city do%>
            <!--                        <img src="/assets/furnishia/product-1.png"/>-->
            <%# end %>
            <%# end %>
            <!--                  </div>-->
            <!--                  <div class="text">-->
            <%#= link_to city do%>
            <!--                      <h2 class="title h4"><%#= city.title %></h2>-->
            <%# end %>
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </article>-->
          </div>
        <% end %>
      </div><!--/row-->
    </div> <!--/product items-->
  </div><!--/container-->
  <div class="pagination-wrapper">
    <%= will_paginate @cities %>
  </div>
</section>


