<%= render 'shared/errors', obj: product_category %>
<%= form_for  product_category, product_category_form_attributes(product_category) do |f| %>
  <div class="form-group">
    <%= f.label :category %>
    <br>
    <%= f.collection_select(:category_id, Category.all, :id, :title, { prompt: "Please Select" }, { class: 'form-control' }) %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :title, "Enter Sub-category Name" %>
    <%= f.text_field :title, class: "form-control", :required => true, autocomplete: false, placeholder: "Enter Sub-category Name", autofocus: true %> <br/>
  </div>
<!--   <div class="form-group">
    <%#= f.label :delivery_fee, "Delivery Fee" %>
    <%#= f.text_field :delivery_fee, class: "form-control", :required => true, autocomplete: false, placeholder: "Shipping Price", autofocus: true %> <br/>
  </div> -->
  <div id="image_<%= product_category.image %>">
    <% if product_category.image.present? %>
      <%= image_tag(url_for(product_category.image), style: "width: 100px") %>
    <% end %>
  </div><br>
  <div class="form-group">
    <%= f.label :image %> <br>
  <%= f.file_field :image %><br><br>
  </div>
  <% if params["action"] == "new" %>
    <%= f.submit "Create Subcategory", class: "btn btn-block custom-table-edit-btn btn-primary"%>
  <% else %>
    <%= f.submit "Update Subcategory", class: "btn btn-block custom-table-edit-btn btn-primary"%>
  <% end %>
<% end %>