    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/breadcrumb.png') %>');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Brands</h2>
                            <p>Home <span>-</span> Brands</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                </div>
                                <div class="single_product_menu d-flex">
                                </div>
                                <div class="single_product_menu d-flex">
                                    <div class="top_pageniation">
                                    </div>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search"
                                            aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center latest_product_inner">
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_1.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_2.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_3.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_4.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_5.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_6.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_7.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_8.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_9.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_10.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_11.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                                <%=image_tag("img/product/product_12.png")%>
                                <% end %>
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
<!--                             <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="ti-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="ti-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <!-- product_list part start-->
    <section class="product_list best_seller">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>Brands</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                          <%=image_tag("img/product/product_1.png")%>
                                <% end %>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                
                            </div>
                        </div>
                        <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                          <%=image_tag("img/product/product_2.png")%>
                                <% end %>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                
                            </div>
                        </div>
                        <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                          <%=image_tag("img/product/product_3.png")%>
                                <% end %>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                
                            </div>
                        </div>
                        <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                          <%=image_tag("img/product/product_4.png")%>
                                <% end %>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                
                            </div>
                        </div>
                        <div class="single_product_item">
                              <%= link_to "/brands/1" do %>
                          <%=image_tag("img/product/product_5.png")%>
                                <% end %>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part end-->



    <script type="text/javascript">
        var best_product_slider = $('.best_product_slider');
          if (best_product_slider.length) {
            best_product_slider.owlCarousel({
              items: 4,
              loop: true,
              dots: false,
              autoplay: true,
              autoplayHoverPause: true,
              autoplayTimeout: 5000,
              nav: true,
              navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
              responsive: {
                0: {
                  margin: 15,
                  items: 1,
                  nav: false
                },
                576: {
                  margin: 15,
                  items: 2,
                  nav: false
                },
                768: {
                  margin: 30,
                  items: 3,
                  nav: true
                },
                991: {
                  margin: 30,
                  items: 4,
                  nav: true
                }
              }
            });
          }

          // Trigger

          $(function () {
            
          var $range = $(".js-range-slider"),
              $inputFrom = $(".js-input-from"),
              $inputTo = $(".js-input-to"),
              instance,
              min = 0,
              max = 1000,
              from = 10,
              to = 100;

          $range.ionRangeSlider({
              type: "double",
              min: min,
              max: max,
              from: 0,
              to: 500,
            prefix: 'tk. ',
              onStart: updateInputs,
              onChange: updateInputs,
              step: 1,
              prettify_enabled: true,
              prettify_separator: ".",
            values_separator: " - ",
            force_edges: true
            

          });

          instance = $range.data("ionRangeSlider");

          function updateInputs (data) {
              from = data.from;
              to = data.to;
              
              $inputFrom.prop("value", from);
              $inputTo.prop("value", to); 
          }

          $inputFrom.on("input", function () {
              var val = $(this).prop("value");
              
              // validate
              if (val < min) {
                  val = min;
              } else if (val > to) {
                  val = to;
              }
              
              instance.update({
                  from: val
              });
          });

          $inputTo.on("input", function () {
              var val = $(this).prop("value");
              
              // validate
              if (val < from) {
                  val = from;
              } else if (val > max) {
                  val = max;
              }
              
              instance.update({
                  to: val
              });
          });

    });

    </script>