<style type="text/css">
  
  #inputGroupPrepend{
    background-color: #e9414f;
  }

  .custom-sort-item-style .sorter {
    border: 0 !important;
    /* border-radius: 100%; */
    color: white !important;
    background-color: #e9414f !important;
    margin: 0 3px !important;
    display: inline-block !important;
    padding: 6px 12px !important;
}
</style>

<div class="row">
  <div class="col-lg-12">
    <div class="product_top_bar d-flex justify-content-between align-items-center">
      <div class="single_product_menu">
        <p><span><%= @products.where(is_promotional_banner: false).count %> </span> <%= (@products.where(is_promotional_banner: false).count > 1) ? "Products" : "Product" %> Found</p>
      </div>
      <div class="custom-sort-item-style">
        <div class="single_product_menu d-flex custom-sorter-parent">
          <h5>sort by : </h5>
          <select class="sorter">
            <option id="sort-by-price" value="1">Price(low to high)</option>
            <option id="sort-by-price" value="2">Price(high to low)</option>
            <option id="sort-by-name" value="3">Newest</option>
          </select>
        </div>
      </div>
<!--       <div class="single_product_menu d-flex">
        <h5>show :</h5>
        <div class="top_pageniation">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div> -->
      <div class="single_product_menu d-flex">
        <div class="input-group">
          <input type="text" class="form-control" id="search-product" placeholder="search"
                 aria-describedby="inputGroupPrepend">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend" style="cursor: pointer;">
            <i class="fa fa-search" style="color: #fff"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-center latest_product_inner">
  <% @products.each do |product| %>
  <% next if product.is_promotional_banner == true %>
    <div class="col-lg-4 col-sm-6">
      <div class="single_product_item">
        <div class="cutome-img-size">
          <%= link_to "/products/#{product.id}" do %>
            <img src="<%= url_for(product.images.first) %>">
          <% end %>
        </div>
        <div class="single_product_text">
          <%= link_to "/products/#{product.id}" do %>
            <h4><%= product.print_description %></h4>
          <% end %>
          <h3 style="color: #e9414f; font-weight: 500">R<%= product.price.to_i %></h3>
          <div style="display: inline-flex;">
            <%= link_to product_path(product.id), class: "add_cart", method: :get do %>
              + add to cart
              <!-- <i class="fa fa-heart-o"></i> -->
            <% end %>
            <% if current_user.present? %>
              <% if product.likes.where(user_id: current_user.id).present? %>
                <a class="like_us_2" style="margin-left: 23px; cursor: pointer;">
                  <i class="fa fa-heart heart-<%= product.id %>" id="product-like"></i> </a>
              <% else %>
                <a class="like_us_1" style="margin-left: 23px; cursor: pointer;">
                  <i class="fa fa-heart-o heart-o-<%= product.id %>" id="product-like"></i> </a>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <div style="display: none">
      <%= form_for Like.new, remote: true do |f| %>
        <div class="form-group">
          <%= f.hidden_field(:parent_id, value: product.id) %>
          <%= f.hidden_field(:parent_type, value: Like.parent_type_product) %>
          <%= f.hidden_field(:value, value: true) %>
          <%= f.submit 'Like Project', :class => 'btn btn-main', name: "btnn-#{product.id}", :id => 'like-button' %>
        </div>
      <% end %>
    </div>

    <script type="text/javascript">
        $(".heart-<%= product.id%>").click(function () {
            if ($(this).hasClass("fa-heart-o")) {
                $(this).toggleClass('fa-heart-o fa-heart');
                toastr.success('Added to favourites')
            } else {
                $(this).toggleClass('fa-heart-o fa-heart');
                toastr.error('Removed from favourites')
            }
            $("[name='btnn-<%= product.id%>']").click();
        });

        $(".heart-o-<%= product.id%>").click(function () {
            if ($(this).hasClass("fa-heart")) {
                $(this).toggleClass('fa-heart-o fa-heart');
                toastr.error('Removed from favourites')
            } else {
                $(this).toggleClass('fa-heart-o fa-heart');
                toastr.success('Added to favourites')
            }
            $("[name='btnn-<%= product.id%>']").click();
        });
    </script>
  <% end %>
  <div class="col-lg-12">
    <!--                             <div class="pageination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <i class="ti-angle-double-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <i class="ti-angle-double-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div> -->
  </div>
</div>


<script type="text/javascript">

    $(".sorter").change(function () {
        // Pure JS
        var selectedVal = this.value;
        var selectedText = this.options[this.selectedIndex].text;
        if (selectedText === "newest") {
            selectedText = "created_at";
        }
        // jQuery
        window.location.href = '/products/promotions?type=<%= params[:type] %>&brand=<%= params[:brand] %>&search=<%= params[:search] %>&category=<%= params[:category] %>&sort_by=' + selectedText
    });


    $('#inputGroupPrepend').click(function () {
        window.location.href = '/products/promotions?type=<%= params[:type] %>&brand=<%= params[:brand] %>&category=<%= params[:category] %>&search=' + $('#search-product').val()
        // window.location.href = '/'
    });
</script>