
<!-- ======================== Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/gallery-4.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title">All Popular Products</h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a class="active" >Popular Products</a></li>
      </ol>
    </div>
  </header>
</section>


<!-- ======================== Products ======================== -->

<section class="products custom-product-details-page custom-city-show">
  <div class="container">
    <div class="row">
      <%  @popular_products.each do |product|  %>
        <% if product.visibility == true && product.user.active == true %>
          <div class="col-md-3">
            <article class="custom-product-article">
              <div class="figure-grid custom-product-card-img custom-card-container text-center">
                <div class="image custom-product-card custom-figure-grid">
                  <% if product.images.attached? %>
                    <%= link_to product do%>
                      <%= image_tag(url_for(product.images.first)) %><br>
                    <% end %>
                  <% else %>
                    <%= link_to product do%>
                      <img src="/assets/furnishia/no_image_product.jpg" alt=""  />
                    <% end %>
                  <% end %>
                </div>
                <div class="text">
                  <%= link_to product do%>
                    <h2 class="title h4"><%=product.print_description %></h2>
                    <hr class="card-text-divider">
                    <span> <%= product.user.category.title %></span>
                  <% end %>
                </div>
                <a href="<%= product_path(product) %>" class="btn card-btn btn-main">View</a>
              </div>
            </article>
            <!--            <article>-->
            <!--              <div class="figure-grid">-->
            <!--                <div class="image">-->
            <%# if product.images.attached? %>
            <%#= link_to product do%>
            <!--                      <%#= image_tag(url_for(product.images.first)) %><br>-->
            <%# end %>
            <%# else %>
            <%#= link_to product do%>
            <!--                      <img src="/assets/furnishia/product-1.png" alt="" width="360" />-->
            <%# end %>
            <%# end %>
            <!--                </div>-->
            <!--                <div class="text">-->
            <%#= link_to product do%>
            <!--                    <h2 class="title h4"><%#= product.print_description %></h2>-->
            <%# end %>
            <!--                  <sup> <%#= product.user.category.title %></sup>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </article>-->
          </div>
        <% end %>
      <% end %>
    </div><!--/row-->
    <!--Pagination-->
    <div class="pagination-wrapper">
      <%= will_paginate @popular_products %>
    </div>
  </div> <!--/product items-->
</section>

