<!DOCTYPE html>
<html>
<head>
  <title>Fair Price</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= favicon_link_tag asset_path('furnishia/fevicon.png') %>

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
  <script>
      src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
      src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.23.0/slimselect.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.23.0/slimselect.min.css" rel="stylesheet"></link>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <%# <script src="https://kit.fontawesome.com/a076d05399.js"></script> %>

  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
  </script>

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<!-- <div class="page-loader"></div> -->
<%= render template: "layouts/header/admin_header" %>
<div class="app-body">
  <%= render template: "layouts/side_nav/admin_side_nav" %>
  <div class="main">
    <%= yield %>
  </div>


</div>
<%#= render template: "layouts/footer/footer" %>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script>

    $('.center-sliderr').slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 3,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    prevArrow: null,
                    nextArrow: null,
                }
            },
            {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
            }
        ]
    });
</script>
<script>
    // Change active class on product sizes.

    var sizes = jQuery(".product--size").find("span");
    sizes.click(function() {
        sizes.removeClass("active");
        $(this).addClass("active");
    });

    // Change image on thumbnail click.
    var thumbs = $(".icon-images").find("img");
    thumbs.click(function() {
        var src = $(this).attr("src");
        var dp = $(".display-img");
        dp.attr("src", src);
    });

    // navbar scrol
</script>
</body>
</html>
